$black: #000000;
$dark: rgba(0, 0, 0, 0.6);
$light-dark: rgba(0, 0, 0, 0.16);
$easy-dark: rgba(0, 0, 0, 0.05);
$coral: #FF7143;
$gray: rgba(255, 255, 255, 0.12);
$gray-divider: rgba(255, 255, 255, 0.16);
$easy-gray: rgba(255, 255, 255, 0.4);
$light-gray: rgba(255, 255, 255, 0.7);
$white: #FFFFFF;

$tablet: 1024px;
$mobile: 768px;